.mainContainer {
  padding-top: 7.5rem;
}

.secondaryContainer{

  padding-top: 10.5rem;
}


#title {
  font-size: x-large;
}

.checked {
    color: orange;
}

.posting {
  background-color: #e6ccff;
  height:28rem;
  border: 1px #e1e1d0 solid;
}
.titles{

  text-align: center;

}

}
.jobTitle {
  bottom: 0;
  font-size: xx-large;
  text-align: center;
}

.jobImg {
  width: 100%;
  height: 70%;
}

.longPosting{
  background-color: #e6ccff;
}

h2, h3 {
  margin: 0 auto;
}
#myBar {
    width: 40%;
    height: 30px;
    background-color: #4B0082;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myProgress {
    background-color: grey;
    margin: auto;
    width: 50%;
    border: 3px ;
}

#my_centered_buttons {
  display: flex;
  justify-content: center;
}
